<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Administración</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/gestionCategorias.css">
</head>
<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${listaCategorias}">
                <td th:text="${category.id}">Id</td>
                <td th:text="${category.nombre}">Nombre</td>
                <td>
                    <a th:href="@{/edit/{id}(id=${category.id})}">Editar</a> |
                    <a th:href="@{/delete/{id}(id=${category.id})}">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <a th:href="@{/newCategory}" class="btn">Añadir Categoría</a><br />
        <p class="msg" th:text="${msg}">*</p>
    </div>
</body>

</html>
