<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragment.html::cabecera}"></head>

<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <h3>Tu receta se ha enviado correctamente</h3> <br />
    <p>Datos que enviaste son:</p>
    <br />
    Nombre: <span th:text="${nombre}"></span>
    <br />
    Edad: <span th:text="${edad}"></span>
    <br />
    Coctel: <span th:text="${coctel}"></span>
    <br />
    Receta: <span th:text="${receta}"></span>
    <br />
    Razón: <span th:text="${opcion}"></span>
    <br />
    Condiciones aceptadas: <span th:text="${acepto} ? 'Sí' : 'No'"></span>
</body>

</html>