<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragment.html::cabecera}"></head>

<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <h3>Proporciona tu receta favorita!</h3>
    <form action="#" th:action="@{/cocteles/miCoctelFavorito/submit}" th:object="${coctelFavorito}" method="post"
        enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="nombre">Usuario:</label></td>
                <td><input type="text" th:field="*{nombre}" id="nombre"></td>
            </tr>
            <tr>
                <td><label for="edad">Edad:</label></td>
                <td><input type="number" th:field="*{edad}" id="edad"></td>
            </tr>
            <tr>
                <td><label for="coctel">Nombre de Cóctel:</label></td>
                <td><input type="text" th:field="*{coctel}" id="coctel"></td>
            </tr>
            <tr>
                <td><label for="receta">Tu receta:</label></td>
                <td><textarea id="receta" th:field="*{receta}" rows="5" cols="20">Escribe tu receta...</textarea></td>
            </tr>
            <tr>
                <td><label for="miFichero">Adjuntar la foto de coctel</label></td>
                <td><input type="file" name="miFichero" /></td>
            </tr>
            <tr>
                <td><label>Como nos conociste:</label></td>
                <td>

                    <input type="radio" id="amigos" name="fuenteDescubrimiento" value="amigos" th:field="*{opcion}">
                    <label for="amigos">Amigos</label><br />
                    <input type="radio" id="redesSociales" name="fuenteDescubrimiento" value="redesSociales"
                        th:field="*{opcion}">
                    <label for="redesSociales">Redes sociales</label><br />
                    <input type="radio" id="porMiCuenta" name="fuenteDescubrimiento" value="porMiCuenta"
                        th:field="*{opcion}">
                    <label for="porMiCuenta">Por mi propia cuenta</label><br />
                    <input type="radio" id="noMeAcuerdo" name="fuenteDescubrimiento" value="noRecuerdo"
                        th:field="*{opcion}">
                    <label for="noMeAcuerdo">No me acuerdo, solo sé que me gustan los cócteles</label><br />
                </td>
            </tr>
            <tr>
                <td><label for="acepto">Aceptas el tratamiento de los datos personales</label></td>
                <td><input type="checkbox" th:field="*{acepto}" id="acepto" required></td>
            <tr>
                <td><button type="submit">Enviar</button></td>
            </tr>
        </table>
    </form>
</body>

</html>