<html>

<head th:replace="~{/fragment.html::cabecera}"></head>
<h2>Lista de Cócteles</h2>
<span th:each="articulo : ${listaCocteles}">
    <span th:text="${articulo}">Contenido por defecto</span>
</span>

<ul>
    <li><a href="cocteles/detalle">Mojito</a></li>
    <li><a href="cocteles/detalle">Margarita</a></li>

</ul>
<nav th:replace="~{/fragment.html::mainMenu}"></nav>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/homeView">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/detalle">Detalle de Cóctel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>