<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Carrito</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/carritoView.css">
</head>

<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <main class="contenedor-main">
        <section class="contenedor">
            <div id="carrito-content">
                <div th:if="${#lists.isEmpty(carrito.items)}" class="alert alert-info">Tu carrito está vacío.</div>
                <div th:unless="${#lists.isEmpty(carrito.items)}">
                    <table class="table table-striped">
                        <thead>
                            <tr class="header-row">
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entry : ${carrito.items}">
                                <td th:text="${entry.value.nombre}">Nombre del cóctel</td>
                                <td class="cantidad-column">
                                    <div class="d-flex align-items-center">
                                        <form th:action="@{/magicmixture/carrito/decrementar}" method="post"
                                            class="mr-2">
                                            <input type="hidden" name="coctelId" th:value="${entry.key}" />
                                            <button type="submit" class="btn btn-secondary">-</button>
                                        </form>
                                        <span th:text="${entry.value.cantidad}">Cantidad</span>
                                        <form th:action="@{/magicmixture/carrito/incrementar}" method="post"
                                            class="ml-2">
                                            <input type="hidden" name="coctelId" th:value="${entry.key}" />
                                            <button type="submit" class="btn btn-secondary">+</button>
                                        </form>
                                    </div>
                                </td>
                                <td th:text="${entry.value.precio} + ' €'">Precio</td>
                                <td class="total-column" th:text="${entry.value.total} + ' €'">Total</td>
                                <td>
                                    <form th:action="@{/magicmixture/carrito/remover}" method="post"
                                        class="form-inline w-100">
                                        <input type="hidden" name="coctelId" th:value="${entry.key}" />
                                        <button type="submit" class="btn btn-danger w-100">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="acciones-carrito d-flex justify-content-between">
                        <form th:action="@{/magicmixture/carrito/vaciar}" method="post" class="form-inline mx-auto">
                            <button type="submit" class="btn btn-warning">Vaciar Carrito</button>
                        </form>
                        <div class="total-carrito">
                            <h3>Total: <span th:text="${carrito.total} + ' €'">Total</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="comprar">
        <button type="button" class="btn btn-success" onclick="mostrarFormularioCompra()">Comprar</button>
    </div>
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script>
        function mostrarFormularioCompra() {
            let formularioCompra = `
                 <div class="modal" id="formularioCompraModal" tabindex="-1" role="dialog">
                     <div class="modal-dialog" role="document">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <h5 class="modal-title">Formulario de Compra</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                 </button>
                             </div>
                             <div class="modal-body">
                                 <form id="compraForm">
                                     <div class="form-group">
                                         <label for="nombre">Nombre</label>
                                         <input type="text" class="form-control" id="nombre" required>
                                     </div>
                                     <div class="form-group">
                                         <label for="direccion">Dirección</label>
                                         <input type="text" class="form-control" id="direccion" required>
                                     </div>
                                     <div class="form-group">
                                         <label for="tarjeta">Número de Tarjeta</label>
                                         <input type="text" class="form-control" id="tarjeta" required>
                                     </div>
                                     <div class="form-group">
                                         <label for="fechaExpiracion">Fecha de Expiración</label>
                                         <input type="text" class="form-control" id="fechaExpiracion" placeholder="MM/AA" required>
                                     </div>
                                     <div class="form-group">
                                         <label for="cvv">CVV</label>
                                         <input type="text" class="form-control" id="cvv" required>
                                     </div>
                                     <button type="button" class="btn btn-primary" onclick="procesarCompra()">Procesar Compra</button>
                                 </form>
                             </div>
                         </div>
                     </div>
                 </div>
             `;
            document.body.insertAdjacentHTML('beforeend', formularioCompra);
            $('#formularioCompraModal').modal('show');
        }

        function procesarCompra() {
            const form = document.getElementById('compraForm');
            if (form.checkValidity()) {
                const params = new URLSearchParams();
                params.append('nombre', document.getElementById('nombre').value);
                params.append('direccion', document.getElementById('direccion').value);
                params.append('tarjeta', document.getElementById('tarjeta').value);
                params.append('fechaExpiracion', document.getElementById('fechaExpiracion').value);
                params.append('cvv', document.getElementById('cvv').value);

                const url = `/magicmixture/carrito/comprar?${params.toString()}`;

                fetch(url, {
                    method: 'GET',
                }).then(response => {
                    if (response.ok) {
                        $('#formularioCompraModal').modal('hide');
                        alert('Gracias por su compra!');
                        window.location.reload();
                    } else {
                        alert('Error al procesar la compra');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('Error al procesar la compra');
                });
            } else {
                form.reportValidity();
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>

</html>
