<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragment.html::cabecera}"></head>

<body>
  <nav th:replace="~{/fragment.html::mainMenu}"></nav>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Puntuacion</th>
        <th>Comentario</th>
        <th>Usuario</th>
        <th>Coctel</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="valoracion : ${listaValoracion}">
        <td th:text="${valoracion.id}">Id</td>
        <td th:text="${valoracion.puntuacion}">Puntuacion</td>
        <td th:text="${valoracion.comentario}">Comentario</td>
        <td th:text="${valoracion.usuario.nombre}">Usuario</td>
        <td th:text="${valoracion.coctel.nombre}">Coctel</td>
        <td>
          <a th:href="@{/val/delete/{id}(id=${valoracion.id})}">Borrar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/val/new}">Crear nueva valoracion</a><br />

</body>

</html>