* {
    margin: 0;
    padding: 0;
    font-family: "the-seasons";
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/inicio.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    display: flex;
    background: transparent;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
    margin: 120px auto 0;
    position: relative;
    z-index: 1;
}

/* form:not(.logout-form) {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
} */

form:not(.logout-form) {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}


label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 1.2em;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #A58A6A;
    border-radius: 5px;
    font-size: 1em;
    
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #A58A6A;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #8f7356;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #A58A6A;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #8f7356;
}

.message, .error {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}

.message p {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.error p {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    form {
        padding: 15px;
        margin: 10px 0;
    }

    input[type="text"], input[type="password"] {
        width: calc(100% - 10px);
    }

    input[type="submit"] {
        padding: 12px;
        font-size: 1em;
    }
}


