:root {
    --primary-color: #A58A6A;
    --background-color: #f8f9fa;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    font-family: "the-seasons";
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/inicio.png');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: initial;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.contenedor-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    width: 90%;
    margin: 120px auto 20px auto;
}

.coctel-detalle {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    background-color: transparent;
}

.titulo {
    color: #000;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.contenedor-img {
    flex: 1;
    text-align: center;
}

.imagen-coctel {
    width: 100%;
    max-width: 395px;
    border-radius: 10px;
}

.detalles-coctel {
    flex: 1;
    background-color: rgba(248, 249, 250, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.detalles-coctel p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.detalles-coctel .precio {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.add-to-cart input {
    width: 60px;
    padding: 5px;
    text-align: center;
}

.add-to-cart button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.add-to-cart button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.cocteles-similares {
    margin-top: 40px;
    text-decoration: none;
    color: #000;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.cocteles-similares h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
}

.cocteles-grid {
    display: flex;
    text-align: left;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.cocteles-grid div {
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    justify-content: flex-start;
}

.cocteles-grid div:hover {
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    justify-content: flex-start;
    text-decoration: none;
}


.cocteles-grid img {
    max-width: 150px;
    border-radius: 10px;

}

.similar-coctel-nombre{
    text-decoration: none;
    color: #000
}

.similar-coctel-nombre:hover{
    text-decoration: none !important; 
}

footer {
    font-size:medium;
}

.footer {
    background-color: #A58A6A;
}

.contenedor-footer {
    flex-direction: column;
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    justify-items: center;
    height: 250px;
}

.title-footer {
    text-transform: uppercase;
    margin-top: 30px;
    color: #000;
}

.contacto-info,
.information,
.my-account,
.newsletter {
    display: flex;
    flex-direction: column;
}

.contacto-info ul,
.information ul,
.my-account ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacto-info ul li,
.information ul li,
.my-account ul li {
    list-style: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
    color: #000;
}

.redesSociales {
    display: flex;
    gap: 1.5rem;
}

.redesSociales span {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redesSociales span i {
    color: #fff;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.youtube {
    background-color: #c4302b;
}

.pinterest {
    background-color: #c8232c;
}

.instagram {
    background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
    );
}

.content p {
    color: #fff;
    font-weight: 300;
}

.content input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #d2b495;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: #fff;
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-webkit-input-placeholder {
    color: #eee;
}

.content button {
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover {
    background-color: #333;
    color: #fff;
}

.copyright p{
    text-align: center;
    color: #000;
    font-weight: 400;
    font-size: larger;
}


@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .contenedor-main {
        padding: 2rem;
        width: 90%;
    }

    .titulo {
        font-size: 2.4rem;
    }

    .detalles-coctel p {
        font-size: 1.2rem;
    }

    .detalles-coctel .precio {
        font-size: 1.5rem;
    }

    .menu-footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 468px) {
    html {
        font-size: 42.5%;
    }

    .contenedor-main {
        padding: 1rem;
        width: 100%;
    }

    .titulo {
        font-size: 2rem;
    }

    .detalles-coctel p {
        font-size: 1rem;
    }

    .detalles-coctel .precio {
        font-size: 1.2rem;
    }

    .menu-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        text-align: center;
    }
}

