* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "the-seasons";
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.red {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/inicio.png');
    background-size: cover;
    background-position: center;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space
}
