<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{/fragment.html::cabecera}"></head>

<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <h1>Categorias</h1>
    <select id="select" onChange="changeCategory();">
        <option value="0">Todas</option>
        <option th:each="cat : ${listaCategorias}" th:value="${cat.id}" th:text="${cat.nombre}"
            th:selected="${cat.id} == ${categoriaSeleccionada.id} ? true : false">
        </option>
    </select>

    <h1>Nuestros cocteles:</h1>
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Ingredientes</th>
                <th>Preparacion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="bebida : ${listaCocteles}">
                <td th:text="${bebida.id}">Id</td>
                <td th:text="${bebida.nombre}">Nombre</td>
                <td th:text="${bebida.tipoCoctel}">Tipo coctel</td>
                <td th:text="${bebida.ingredientes}">Ingredientes</td>
                <td th:text="${bebida.preparacion}">Preparacion</td>
                <td><a th:href="@{/cocteles/editar/{id}(id=${bebida.id})}">Editar</a></td>
                <td><a th:href="@{/cocteles/borrar/{id}(id=${bebida .id})}">Borrar</a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/cocteles/nuevo}">Añadir coctel</a><br />
    <h2>Categoría: <span th:text="${categoriaSeleccionada.nombre}">default</span></h2>
    <script>
        function changeCategory() {
            const select = document.getElementById("select");
            if (select.value == 0) window.location.href = "/cocteles";
            else window.location.href = "/cocteles/porCateg/" + select.value;
        }
    </script>
    <p th:text="${msg}">*</p>
</body>

</html>