<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Administración</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/navbar.css">
        <link rel="stylesheet" href="/styles/gestionCocteles.css">
    </head>
<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="coctel : ${listaCocteles}">
                <td th:text="${coctel.id}">ID</td>
                <td th:text="${coctel.nombre}">Nombre</td>
                <td th:text="${coctel.tipoCoctel}">Tipo</td>
                <td th:text="${coctel.precio}">Precio</td>
                <td th:text="${coctel.stock}">Stock</td>
                <td th:text="${coctel.categoria.nombre}">Categoria</td>
                <td>
                    <a th:href="@{'/cocteles/editar/' + ${coctel.id}}">Editar</a>
                    <a th:href="@{'/cocteles/borrar/' + ${coctel.id}}" onclick="return confirm('¿Estás seguro?')">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <a href="/cocteles/nuevo" class="btn">Añadir Coctel</a><br />
        <p class="msg" th:text="${msg}">*</p>
    </div>
</body>
</html>
