<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Detalle del Cóctel</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/infoCoctel.css">
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/81581fb069.css" crossorigin="anonymous"> -->
</head>

<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <main class="contenedor-main">
        <h1 class="titulo" th:text="${coctel.nombre}">Nombre del Cóctel</h1>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}" id="errorMessage"></div>
        <div th:if="${msg}" class="alert alert-info" th:text="${msg}" id="successMessage"></div>
        <section class="contenedor coctel-detalle">
            <div class="contenedor-img">
                <img class="imagen-coctel" th:src="@{'/images/cocteles/' + ${coctel.nombre} + '.png'}" th:alt="${coctel.nombre}" />
            </div>
            <div class="detalles-coctel">
                <p><strong>Tipo:</strong> <span th:text="${coctel.tipoCoctel}">Tipo del Cóctel</span></p>
                <p><strong>Ingredientes:</strong> <span th:text="${coctel.ingredientes}">Ingredientes del Cóctel</span></p>
                <p class="precio"><strong>Precio:</strong> <span th:text="${coctel.precio} + ' €'">Precio del Cóctel</span></p>
                <p><strong>Stock:</strong> <span id="stock" th:text="${coctel.stock}">Stock del Cóctel</span></p>
                <p><strong>Categoría:</strong> <span th:text="${coctel.categoria.nombre}">Categoría del Cóctel</span></p>
                <div class="add-to-cart">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" value="1" min="1">
                    <form th:action="@{/magicmixture/carrito/agregar}" method="post" class="form-inline">
                        <input type="hidden" name="coctelId" th:value="${coctel.id}" />
                        <input type="hidden" name="cantidad" id="cantidadHidden" />
                        <button type="submit" class="btn btn-primary add-to-cart-btn" onclick="setCantidad()">
                            Añadir al carrito <i class="fas fa-cart-plus"></i>
                        </button>
                    </form>
                </div>
            </div>
        </section>

        <section class="cocteles-similares">
            <h2>Más Cócteles de la misma categoría</h2>
            <div class="cocteles-grid">
                <div th:each="similarCoctel : ${similares}">
                    <a th:href="@{/cocteles/{id}(id=${similarCoctel.id})}">
                        <img th:src="@{'/images/cocteles/' + ${similarCoctel.nombre} + '.png'}" th:alt="${similarCoctel.nombre}" class="similar-coctel-img">
                        <p th:text="${similarCoctel.nombre}" class="similar-coctel-nombre">Nombre del Cóctel</p>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="contenedor contenedor-footer">
            <div class="menu-footer">
                <div class="contacto-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li>Calle Caballeros, 1, 15006, A Coruña (Galicia)</li>
                        <li>Teléfono: 123-456-7890</li>
                        <li>Email: magicmixture@gmail.com</li>
                    </ul>
                    <div class="redesSociales">
                        <span class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </span>
                        <span class="twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                        <span class="youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                        <span class="pinterest">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </span>
                        <span class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                    </div>
                </div>

                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul>
                        <li><a th:href="@{'/magicmixture/quienes-somos'}">Acerca de Nosotros</a></li>
                        <li><a th:href="@{'/magicmixture/contacto'}">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="my-account">
                    <p class="title-footer">Mi cuenta</p>
                    <ul>
                        <li><a th:href="@{'/cocteles'}">Mi cuenta</a></li>
                        <li><a th:href="@{'/magicmixture/carrito'}">Mi carrito</a></li>
                        <li><a th:href="@{'/magicmixture/pedidos'}">Mis pedidos</a></li>
                        <li><a th:href="@{'/magicmixture/editUsuario'}">Editar perfil</a></li>
                    </ul>
                </div>

                <div class="newsletter">
                    <p class="title-footer">Boletín informativo</p>
                    <div class="content">
                        <p>Suscríbete a nuestra aplicación y estarás siempre de buen humor</p>
                        <input type="email" placeholder="Ingresa el correo aquí...">
                        <button>Suscríbete</button>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <img src="../images/payment.png" alt="Pagos">
                <p>MagicMixture &copy; 2024</p>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script>
        function setCantidad() {
            document.getElementById('cantidadHidden').value = document.getElementById('cantidad').value;
        }

        $(document).ready(function() {
            setTimeout(function() {
                $('#errorMessage').fadeOut('slow');
                $('#successMessage').fadeOut('slow');
            }, 2000);
        });
    </script>
</body>

</html>


