<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragment.html::cabecera}"></head>

<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <h1>Añadir coctel</h1>
    <form method="post" action="#" th:action="@{/cocteles/nuevo/submit}" th:object="${coctel}">
        <label>Id: <input type="text" id="id" th:field="*{id}" /> </label><br />
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />
        Tipo Coctel:<br />
        <div th:each="tipo : ${T(com.example.demo.domain.TipoCoctel).values()}">
            <input type="radio" name="button1" th:value="${tipo}" th:text="${tipo}" th:field="*{tipoCoctel}" />
        </div>
        <label>Ingredientes: <input type="text" id="ingredientes" th:field="*{ingredientes}" /></label><br />
        <label>Preparacion: <input type="text" id="preparacion" th:field="*{preparacion}" /></label><br />
        <input type="submit" value="Enviar" />
        <label>Categoria
            <select name="categoria" th:field="*{categoria}">
                <option th:each="categoria : ${listaCategorias}" th:value="${categoria.id}"
                    th:text="${categoria.nombre}"></option>
            </select>
        </label>
    </form>

</body>

</html>