<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Administración</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/navbar.css">
        <link rel="stylesheet" href="/styles/añadirCoctel.css">
    </head>
<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
  
    <form class="formulario" method="post" th:action="@{/cocteles/nuevo/submit}" th:object="${coctel}">
        <h1>Añadir coctel</h1>
        <label>Id: <input type="text" id="id" th:field="*{id}" readonly /> </label><br />
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />
        Tipo Coctel:<br />
        <div th:each="tipo : ${T(com.example.demo.domain.TipoCoctel).values()}">
            <input type="radio" th:field="*{tipoCoctel}" th:value="${tipo}" /> <span th:text="${tipo}"></span>
        </div>
        <label>Ingredientes: <input type="text" id="ingredientes" th:field="*{ingredientes}" /></label><br />
        <label>Precio: <input type="text" id="precio" th:field="*{precio}" /></label><br />
        <label>Stock: <input type="text" id="stock" th:field="*{stock}" /></label><br />
        <label>Categoria:
            <select th:field="*{categoria}">
                <option th:each="categoria : ${listaCategorias}" th:value="${categoria}" th:text="${categoria.nombre}"></option>
            </select>
        </label><br />
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>
