<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/quienesSomos.css">
    <th:block th:replace="~{/fragment.html::cabecera}"></th:block>
</head>

<body>
    <div class="slide red">
        <nav th:replace="~{/fragment.html::mainMenu}"></nav>
        <div class="slide-content">
            <p>En MagicMixture, hacemos que la preparación de cócteles sea sencilla y accesible para todos.</p>
            <p> Somos un equipo apasionado por la mixología y la tecnología, comprometidos a transformar tu experiencia
                de coctelería en casa.</p>
        </div>
    </div>

</body>

</html>