<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragment.html::cabecera}"></head>

<body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <p>Bienvenido a nuestra web</p>
    <p>Descubre recetas increíbles de cócteles y sorprende a tus amigos.</p>
    <nav>
        <a href="/cocteles">Lista de Cócteles</a>
    </nav>
    <main>
        <img src="/images/cocteles.png" alt="Cóctel Ejemplo">
        <br />
        <button type="button" class="btn btn-info">Más información</button>
        <!-- <a href="listaCocteles.html" class="btn btn-light">Lista de Cócteles</a> -->
    </main>
    <footer>
        <p>Aplicación de Cócteles de Yuliia Radionova</p>
        <span th:text="${anho}">*</span>
    </footer>
</body>

</html>